@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600&display=swap');

body::-webkit-scrollbar {
  width: 4px;
  /* background: 'transparent', make scrollbar transparent */
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #6bb5ee;
  outline: 1px solid slategrey;
}
